@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(52, 194, 128, 0.692);
    margin: 0px;
}

h1 {
    text-align: center;
    padding-bottom: 15px;
}

main>h1 {
    padding-top: 0px;
    text-align: left;
    font-family: 'idroid', Times, serif;
    font-weight: normal;
    color: rgb(19, 92, 64);
}

p>a {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}

main>h2 {
    background-image: linear-gradient(to right, rgba(19, 92, 64, 0.555), rgba(253, 255, 253, 0.322));
    font-family: 'idroid', Times, serif;
    font-weight: normal;
    color: rgb(19, 92, 64);
}

header>h1 {
    padding-bottom: 0px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    font-weight: normal;
    text-shadow: black 0.1em 0.1em 0.2em;
}

header>p {
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    padding-bottom: 15px;
}

main {
    background-color: white;
    padding: 20px;
    margin-top: 0px;
    min-width: 280px;
    max-width: 800px;
    margin: auto;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.507);
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

header {
    background-image: linear-gradient(rgba(141, 192, 141, 0.548), rgb(19, 92, 64));
    color: white;
    background-attachment: local;
    padding-top: 1px;
    padding-bottom: 10px;
    margin: 0px;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.26);
}

nav {
    padding-top: 10px;
    background-color: transparent;
}

nav>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 6px;
    padding-left: 5px;
    border-radius: 5px;
    padding: 10px;
    transition-duration: 1s;
}

nav>a:hover {
    background-color: rgba(227, 236, 227, 0.171);
    color: rgba(13, 59, 42, 0.952);
}

article#youtube {
    background-color: rgba(7, 92, 52, 0.829);
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}

article#ultimo {
    border-radius: 5px;
    background-color: rgba(67, 231, 154, 0.479);
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding-bottom: 10px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.26);
}

article>h3 {
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(0, 128, 0, 0.527);
    color: white;
}

.right {
    float: right;
    margin-right: 20px;
}

.left {
    margin-left: auto;
}

span>a {
    color: black;
}

footer {
    text-align: center;
    background-color: rgba(7, 92, 52, 0.918);
    color: white;
    padding: 5px;
}

footer>a {
    color: white;
    font-style: italic;
    font-weight: bold;
}

footer iframe {
    width: 90%;
}

img#bug {
    width: 50%;
}

img {
    width: 100%;
}